<!DOCTYPE html>
<html>
<head>
	<title>DashTap</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<canvas id="canvas">Your phone or browser is outdated and doesn't support this game!</canvas>
<div id="overlay"></div>
<div id="gameName">DashTap</div>
<div class="button" id="playButton">Play</div>
<div class="button" id="storeButton">Store</div>
<div class="button" id="tutorialButton">How to Play</div>
<div id="tapToStart">TAP TO START</div>
<div class="hidden" id="scoreel"></div>
<img id="back" src="/img/back.png"></img>
</body>
<script src="/js/buttons.js"></script>
</html>