#overlay {
	visibility: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

#overlay.visible {
	visibility: visible;
	opacity: 0.9;
	transition: visibility 0s, opacity 0.3s;
}

#overlay.opaque.visible {
	opacity: 0.75;
}

#title {
	position: fixed;
	top: -70px;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 48px;
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
}

#title.visible {
	top: 120px;
	opacity: 1;
}

#playButton {
	visibility: hidden;
	position: fixed;
	top: 50vh;
	left: calc(50vw - 50px);
	width: 100px;
	height: 100px;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

#playButton.visible {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.3s;
}

#storeButton {
	position: fixed;
	top: -50px;
	left: 20px;
	width: 32px;
	transition: top 0.3s;
}

#storeButton.visible {
	top: 20px;
}

#notButton {
	position: fixed;
	top: -50px;
	right: 20px;
	width: 32px;
	transition: top 0.3s;
}

#notButton.visible {
	top: 20px;
}

#scoreEl {
	position: fixed;
	top: -60px;
	width: 100%;
	font-size: 48px;
	text-align: center;
	color: white;
	transition: top 0.3s, color 0.3s;
}

#scoreEl.visible {
	top: 70px;
}

#scoreEl.black {
	color: black;
}

#tapText {
	position: fixed;
	bottom: -80px;
	width: 100%;
	font-size: 24px;
	text-align: center;
	color: white;
	transition: bottom 0.3s;
}

#tapText.visible {
	bottom: 25%;
}

#notifications {
	display: none;
	position: fixed;
	top: 75px;
	right: 20px;
	width: calc(100vw - 60px);
	max-width: 330px;
	height: calc(100vh - 115px);
	padding: 10px;
	background: white;
	border-radius: 6px;
}

#notifications.visible {
	display: block;
}

#notifications.visible::after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0 16px 15px;
	border-color: #FFFFFF transparent;
	width: 0px;
	top: -10px;
	right: 0px;
}

#canvas {
	display: none;
	width: 100vw;
	max-width: 80vh;
	height: 100vh;
	margin: 0px auto;
	/*outline: 1px solid #eee;*/
}

#canvas.visible {
	display: block;
}